.iconImage{
    img{
        height: auto;;
    }
}

.footer{
    margin-top:0!important;
}

.profileTable{
    margin-left: 20px;
}

.profileTable td {
    width: 335px;
    line-height: 1.5;
}

.labelStrong {
    font-weight: 600 !important;
}

.custGrid{
    width: 100%;
}

.custGrid h2{
    margin-top: -30px;
}

.custGrid p{
    margin-top: 10px;
}

.custGrid h2 strong{
    font-weight: 600;font-size: 17px;
}

.maxwidthDialouge{
    max-width: 840px;
}

.cell-wrap-text {
    white-space: normal !important;
}

.dp-materialr .dp-picker-input {
    border: 0 !important;
    width: 115px !important;
    font-size: 22px !important;
    font-weight: 500 !important;
}
.dp-material img {
    width: 16px !important;
    margin-top: -10px !important;
}


.maxwidthDialouge a {
    text-decoration: none;
    color: #007bff;
    display: inline-block;
}

.navDate a:hover {
    text-decoration: underline;
}


.btn-primary{
    background-color: #23408f !important;
    border-color: #23408f !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #23408f!important;
    border-color: #23408f!important;
}

.testMarg{
    margin-top: 35px;;
}

.mat-form-field-infix{
    border: 0 !important;
    width: 120px !important;
    font-size: 22px !important;
    font-weight: 500 !important;
    margin-bottom: -5px;
    margin-top: -10px;
}

.invalidDateRange{
    color: red;
    font-size: 13px;
    margin-left: 5px;
}

.searchOnPopUp{
    padding-left: 0px;
    margin-left: -40px;
}

.btnCus{
    height: 29px;
    line-height: 0;
}

.heigthWidth img{
    width: 60px;
    height: 65px;
}