
.navDate a:hover {
    text-decoration: underline;
}
.dp-input img{
    width : 16px;
    top : 10px;
    z-index: 1;
    position: absolute;
    right : 10px;
}
.Exact_txt{
    margin: 10px auto 15px;
}
.content-center {
    margin: 50px auto 49px auto;}


.mat-form-field-infix {
    width: 205px !important;
    padding: 0px !important;
}

.redBorder{
    border: 1px solid red;
}