.spaceBtwBtns{
    margin-right:7px
}

.maxwidthDialouge{
    max-width: 840px;
}

.popupTheme {td{
    color: #2f2f2f !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    border-right: 1px solid #ddd !important;
    //line-height: 6px !important;
    padding-left: 11px !important;
    padding-right: 11px !important;
    font-family: sans-serif;
}
}

.table-responsive {
    max-height: 335px;
    overflow: auto;
    border: 1px solid #ccc;
  }

  .unlockNewBtn button.btn.btn-primary { //CO# 4352
    font-size: 14px;
    padding: 7px 7px;
}